
/* Estilos básicos */
body {
    font-family: Arial, sans-serif;
    padding-top: 20px; /* Ajuste para evitar que el contenido quede oculto detrás del menú fijo */
}

/* Flexbox para header */
header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: box-shadow 0.3s ease; /* Transición suave para el efecto de sombra */
}
header .navbar:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3); /* Sombra sutil cuando el ratón pasa sobre el menú */
}

/* Estilos del footer */
footer {
    background-color: #d0dce7; 
    color: #080808; /* Color negro para el texto en el footer */
    padding: 10px 0;
    text-align: center;
}

/* Ajustes para el contenido principal */
main {
    margin-left: 250px; /* Margen izquierdo igual al ancho del menú lateral */
    padding: 20px;
}

/* Estilos de la cuadrícula (grid) */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
    margin-top: 20px;
}

.grid-item {
    background-color: #f8f9fa;
    padding: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.grid-image {
    width: 100%;
    height: 200px; /* Ajusta la altura deseada */
    object-fit: cover; /* Asegura que la imagen se recorte adecuadamente para llenar el contenedor */
    border-radius: 8px; /* Añade bordes redondeados a las imágenes */
    margin-bottom: 10px; /* Espacio inferior entre la imagen y el texto */
}

/* Media Queries */
@media (max-width: 768px) {
    .sidebar {
        width: 100%;
        height: auto;
        position: relative;
    }

    main {
        margin-left: 0;
    }
}



